*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section{

    width: 100%;
    min-height: 100vh;
}






/*NAV*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background-color:#0e0e0e ;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1.5%;
}

nav ul {
  background-color: #7a00007b;
  backdrop-filter: blur(3px);
  height: 60px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border-radius: 25px;
  padding: 0 10px;
  transition: 0.3s;
}

/* Ikonok normál állapotban */
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.7) !important;
  transition: 0.4s ease;
}

/* Hover effekt – Kiemelkedik, nő, kör alakú háttér */
nav ul li:hover a {
  background-color: #0e0e0e;
  border: solid 2px #7A0000;
  transform: translateY(-20px) scale(1.25);
  border-radius: 50%;
}



@media (max-width: 768px) {
  nav ul {
    width: 70%;
    height: 55px;
  }

  nav ul li a {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  nav ul {
    width: 90%;
    height: 55px;
  }

  nav ul li a {
    width: 38px;
    height: 38px;
  }
}


/* --- NAVBAR ANIMÁCIÓK --- */

/* UL belépő animáció */
@keyframes navEnter {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* LI elemek sorban érkeznek */
@keyframes navItemEnter {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Alkalmazás */
nav ul {
  animation: navEnter 0.8s ease forwards;
}

nav ul li {
  opacity: 0; /* induláskor rejtett */
  animation: navItemEnter 0.6s ease forwards;
}

/* Soronkénti késleltetés */
nav ul li:nth-child(1) { animation-delay: 0.2s; }
nav ul li:nth-child(2) { animation-delay: 0.35s; }
nav ul li:nth-child(3) { animation-delay: 0.5s; }
nav ul li:nth-child(4) { animation-delay: 0.65s; }
nav ul li:nth-child(5) { animation-delay: 0.8s; }




/*NAV*/


/*Home*/

.home{

    background-color: #0e0e0e;
    display: flex;
    position: relative;
}

.title{

    font-family: "Old English Text MT", Georgia, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: auto;
    color: rgba(255,255,255,0.5);
    z-index: 10;
}

.title img{

    width: 250px;
    animation: navEnter 0.8s ease forwards;
}

.title h1{

    font-size: 100px;
    animation: navEnter 0.8s ease forwards;

}

.title a{

    width: 200px;
    height: 45px;
    background-color: #7A0000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    transition: ease 0.4s;
    animation: navEnter 0.8s ease forwards;
}



.title a:hover{

    background-color: #0e0e0e;
    color: #7A0000;
    border: solid 2px #7A0000;
    transform: scale(1.1);
    
}

.homepic{

    width: 50%;
    height: auto;
    display:flex ;
    justify-content: center;
    align-items: center;
    animation: navEnter 0.8s ease forwards;
}



.homepic img{

    width: 900px;
}


@media (max-width: 700px) {
  .title {
    position: absolute;
    width: 100%;
    top: 15%;
  }

  .homepic{

    width: 100%;

  }

  .homepic img{

    width: 100%;
}


}

/*Home*/


/*About*/

.about{

  background-color: #0e0e0e;
}

.laci{

  width: 100%;
  min-height: 100vh;
  display: flex;
}

.lacitext{

  background-color:#0e0e0e;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.muvpic{

  width: 100%;
  height: 30vh;
}

.muvpic img{
  
  width: 80%;
}


.lacitextin{

  width: 80%;
  background-color: rgba(248, 248, 248, 0.142) ;
  backdrop-filter: blur(10px);
  color: rgba(255,255,255,0.5);
  padding: 3%;
  text-align: justify;
}

.lacitextin a{

    width: 200px;
    height: 45px;
    background-color: #7A0000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    transition: ease 0.4s;
    margin-left: 60%;
}


.lacitextin a:hover{

    background-color: #0e0e0e;
    color: #7A0000;
    border: solid 2px #7A0000;
    transform: scale(1.1);
    
}

.lacitextin h2{

  color: #7A0000;
  margin-bottom: 3%;
  text-align: start;
}

.laciimg{

  min-height: 100vh;
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-size: cover;
  position: relative;


}


.laci2img{
   
  width: 70%;
  

}

.lacititle{

  position: absolute;
  right: 15%;
  transition: ease 0.5s;
}

.lacititle:hover{

  transform: translateY(-20px) scale(1.25);
}

@media (max-width: 1070px){

  .laci{

    flex-direction: column;
  }

  .laciimg{

    min-height: 40vh;
    width: 100%;
    background-color: green;
  }

  .laci2img{

    width: 100%;
  }

  .lacitext{

    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .lacitextin a{

    margin-left: 0%;
  }

  .lacitextin h2{

    font-size: 22px;
  }

  .muvpic{

    display: flex;
    justify-content: center;
  }

  .muvpic img{

    width: 80%;
  }

  .artist-prev, .artist-next{

    top: 85% !important;
    font-size: 10px !important;
  }
}

.artist-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.artist-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.artist-slide {
  min-width: 100%;
  display: flex;
  justify-content: center;

}

/* Gombok */
.artist-prev, .artist-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #7A0000;
  color: #7A0000;
  padding: 12px 20px;
  font-size: 26px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 50;
}

.artist-prev { left: 20px; }
.artist-next { right: 20px; }

.artist-prev:hover,
.artist-next:hover {
  background: #7A0000;
  color: white;
  transform: translateY(-50%) scale(1.15);
}


/*About*/




/*Gallery*/



.gallery {
    width: 100%;
    min-height: 100vh;
    background: #0e0e0e;
    padding: 80px 0;
    color: rgba(255,255,255,0.5);
}

.gallery h2 {
    text-align: center;
    font-size: 38px;
    color: #7A0000;
    margin-bottom: 25px;
}

.gallery-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gallery-track {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 10px 40px;
}

.gallery-track img {
    height: 250px;
    width: 250px;
    border-radius: 12px;
    flex-shrink: 0;
    transition: 0.4s ease;
    object-fit: cover;
}

.gallery-track img:hover {
    transform: scale(1.07);
    filter: brightness(1.2);
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(122, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 26px;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 90%;
    transition: ease 0.3s;
    z-index: 10;
}

.nav-btn:hover {
    background:#0e0e0e;
    border: 2px solid #7A0000;
    transform: translateY(-50%) scale(1.15);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.media1{

  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.media1 svg{

  color: #7A0000;
  transition: ease 0.3s;
}

.media1 svg:hover{

  transform: scale(1.1);
}

@media (max-width: 1070px){

  .gallery{

    min-height: 50vh;
  }
}


/*Gallery*/



/* CONTACT */

.contact {
  background-color: #0e0e0e;
  min-height: 70vh;
  padding: 80px 5%;
  color: rgba(255,255,255,0.7);
  text-align: center;
}

.contact h2 {
  font-size: 48px;
  color: #7A0000;
  margin-bottom: 40px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 60px;
  flex-wrap: wrap;
}

.contact-info {
  width: 320px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.contact-info a{

  color: rgba(255,255,255,0.7);
  text-decoration: none;
  font-size: 20px;
  transition: ease 0.3s;
}

.contact-info a:hover{

  transform: scale(1.1);
}

.media{

  margin-top: 5%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  color: #7A0000;
}

.media svg{

  color: #7A0000;
  margin-right: 20px;
}

.contact-info h3 {
  color: #7A0000;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 18px;
}

.contact-info i {
  margin-right: 10px;
  color: #7A0000;
}

.contact-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  background-color: #161616;
  border: 1px solid #7A0000;
  border-radius: 8px;
  color: white;
  resize: none;
  transition: ease 0.3s;
}


.contact-form textarea:hover{

  transform: scale(1.1);
}

.contact-form input:hover{

  transform: scale(1.1);
}

.contact-form button {
  background-color: #7A0000;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #0e0e0e;
  border: 1px solid #7A0000;
  transform: scale(1.05);
}


/*CONTACT*/


/* COOKIE BANNER */

.cookie-banner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 320px;
  background-color: #0e0e0e;
  border: 2px solid #7A0000;
  padding: 20px;
  border-radius: 12px;
  z-index: 99999;
  display: none;
  color: rgba(255,255,255,0.85);
}

.cookie-banner p {
  margin-bottom: 15px;
}

.cookie-buttons {
  display: flex;
  gap: 10px;
}

.cookie-banner button {
  flex: 1;
  padding: 10px;
  background-color: #7A0000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.cookie-banner button:hover {
  background-color: #0e0e0e;
  border: 1px solid #7A0000;
}

.cookie-link {
  display: block;
  margin-top: 12px;
  text-align: center;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
}

.cookie-link:hover {
  color: #7A0000;
}


/* COOKIE BANNER */

/*services*/

.services {
  padding: 80px 0;
  background: #0d0d0d;
  color: #fff;
  text-align: center;
}

.services h2{

  color: #7A0000;
}

.services-title {
  font-size: 34px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  font-family: 'Science Gothic', sans-serif;
}

.services-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.service-box {
  background: #111;
  border: 1px solid #262626;
  padding: 40px 25px;
  width: 280px;
  border-radius: 14px;
  text-align: center;
  transition: 0.3s ease;
}

.service-box:hover {
  transform: translateY(-5px);
  border-color: #7A0000;
}

.service-box .icon {
  color: #7A0000;
  margin-bottom: 20px;
}

.service-box h3 {
  font-size: 20px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-family: 'Science Gothic', sans-serif;
}

.service-box p {
  color: #bfbfbf;
  font-size: 14px;
  line-height: 1.5;
}


.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


/*services*/

.footer {
  width: 100%;
  padding: 40px 0;
  background: #0d0d0d;
  text-align: center;

}

.footer-inner {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer p,
.footer a {
  color: #a0a0a0;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Science Gothic', sans-serif;
  text-decoration: none;
}

.footer .brand {
  color:#7A0000;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
}

.footer a:hover {
  color: #fff;
  transition: 0.3s;
}






/*border-color: #e60073; szín ötlet*/